{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'crud.js' %}"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main class="flex flex-wrap">
        <header class="bg-purple-900 w-full text-white p-2 grid grid-cols-2">
            <div class="grid grid-cols-3 w-6/12">
                <a href="{% url 'index' %}">
                    <button class="rounded bg-gray-300 p-3 mr-3">LOGO</button>
                </a>
                <button id="modalCreate" class="bg-green-400 rounded p-3 mr-3 hover:bg-blue-400">Novo post</button>
                <a href="">
                    <button class="bg-purple-400 rounded p-3 hover:bg-pink-400">Gerenciar tags</button>
                </a>
            </div>
            <div class="float-right m-3">
                <form action="" method="get">
                    <input type="text" name="pesquisa" id="query" placeholder="o que procura?"
                    class="text-black rounded bg-gray-50 border outline-none p-1">
                    <button type="submit" class="bg-indigo-300 rounded p-1 text-gray-800 hover:bg-indigo-500 hover:text-white">go!</button>
                </form>
            </div>
        </header>
        <div class="p-2">
            {% block corpo %}
            {% endblock corpo %}
        </div>
        <div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div id="fora" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left" id="conteudoModal">
                            </div>
                        </div>
                    </div>
                                
                </div>
            </div>
        </div>
        <footer class="grid grid-cols-3 text-white p-2 bg-gray-300 w-full">
            <ul>
                <li>abobrinha</li>
                <li>chuchu</li>
                <li>melancia</li>
                <li>pepino</li>
            </ul>
            <ul>
                <li>batata</li>
                <li>beladona</li>
                <li>berinjela</li>
                <li>tabaco</li>
            </ul>
            <ul>
                <li>brócolis</li>
                <li>couve</li>
                <li>nabo</li>
                <li>repolho</li>
            </ul>
        </footer>
    </main>
</body>
</html>
