<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'store' post.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Nova publicação</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" required>
            <label for="corpo">Corpo do texto:</label>
            <textarea name="corpo" id="corpo" cols="30" rows="10"></textarea>
        </fieldset>
        <input type="submit" value="Postar">
        </form>
</body>
</html>