{% extends 'base.html' %}
{% block corpo %}
    <div class="grid grid-rows-4 p-2 bg-gray-50 text-gray-800">
        <span class="text-3xl">{{ post.titulo }}</span>
        <span>{{ post.corpo }}</span>
        <span>
        tags...
            <ul>
            {% for tag in post.tag.all %}
                <li>{{ tag.nome }}</li>
            {% endfor %}
            </ul>
        </span>
        <div class="flex flex-wrap">
            <a href="{% url 'update' post.id %}" class="m-1">
                <button type="button" class="bg-yellow-100 rounded p-1 hover:bg-yellow-300">modificar</button>
            </a>
            <form action="{% url 'delete' post.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="apagar" class="mt-1 bg-red-100 rounded p-1 cursor-pointer hover:bg-red-600 hover:text-white">
            </form>
        </div>
    </div>
{% endblock corpo %}
